<div class="whatsapp-container" >
    <a href="https://wa.me/543404650015?text=Quiero%20realizar%20una%20consulta" target="_blank">
        <img src="/assets/images/Whatsapp-logo.png" alt="" class="whatsapp-container__btn">
    </a>
</div>