<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Ecommerce</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('partials/header') %>
    <!-- TODO: Implementar carousel en 2do módulo -->
    <main class="main-change-password">
        <section class="password-change">
            <header class="password-change__header">
                <div class="password-change__title">
                    <h1>
                        Cambio de Contraseña
                    </h1>
                </div>  
            </header>

            <form class="password-change__form" id="passForm">
                
                <div class="password-change__form-items">
                    <label for="passOld" >Contraseña Anterior</label><br>
                    <input type="password" name="passOld" id="passOld" class="section-register__form-input" 
                     required>
                </div>
                <div class="password-change__form-items">
                    <label for="passNew1" >Nueva Contraseña</label><br>
                    <input type="password" name="passNew1" id="passNew1" class="section-register__form-input" 
                     required>
                </div>
                <div class="password-change__form-items">
                    <label for="passNew2" >Repita Nueva Contraseña</label><br>
                    <input type="password" name="passNew2" id="passNew2" class="section-register__form-input" 
                     required>
                </div>
                
                <div class="password-change__form-btn">
                    <button type="submit" class="password-change__btn" id="passSubmit" >Aceptar Cambio</button> 
                </div>
                
            </form>

        </section>
    </main>
    <%- include('partials/whatsapp') %>
    <%- include('partials/footer') %>
   
 <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>   
 <script src="/js/alert.js"></script>  
 <script src="/js/header.js"></script> 
 <script src="/js/password-change.js"></script>   
</body>
</html>