.main-change-password {
    margin-top: 50px;
    padding: 1.5rem 0;
    background-color: aliceblue;
    flex-grow: 1 !important;
}

.password-change {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__header {
        width: 100%;
        padding: 10px;
        margin: 5px;
        border-bottom: 1px solid $color-green-lehmann;
    }

    &__title {
        text-align: center;
        font-size: 1.10rem;
        // es arial greek pero no aparece 
    }
    &__form {
        background-color: $color-green-lehmann;
        box-shadow: 0 0 10px 5px  black;
        width: 300px;
        margin: 10px;
        padding: 5px;

    }
    &__form-items {
        width: 100%;
        margin: 15px 10px; 
    }
    &__form-input {
        width: 92%;
        height: 30px;
        margin: 5px 0px;
        border-radius: 5px;
        padding: 5px 10px;
        color: #1633B3;
        
    }
    
    &__form-input::placeholder {
        color: #C6D7A3;
    }

    &__form-btn{
        display: flex;
        justify-content: center;
    }

    &__btn {
        width: 120px;
        height: 40px;
        background-color: #1633B3;
        border-radius: 5px;
        color: rgb(235, 217, 217);
        border: none;
        font-weight: bold;
    }

    &__btn:hover {
        background-color: #9ca9e4;
        color: rgb(37, 16, 16);
        
    }

    &__form-chk {
        width: 10px;
        height: 10px;
    } 


}